---
layout : blog
title : Blog
pagination:
    enabled: true
    collection: posts
    permalink: /page/:num/
    per_page: 5
    sort_field: date
    sort_reverse: true
    title: Blog
    trail:
        before: 1 # The number of links before the current page
        after: 1  # The number of links after the current page
---


<div class="intro-heading style-text">
    <div class="hero">
        <div class="hero-body">
            <h2 class="title is-size-1-desktop is-size-2-mobile has-text-centered">
                {{ page.title }}
            </h2>
        </div>
    </div>
</div>

<hr>
{% for post in paginator.posts %}
<article class="post mb-3">

    <div class="post-preview">
        <a href="{{ post.url | relative_url }}">
            <h2 class="title is-size-3">{{ post.title }}</h2>
            <h3 class="subtitle is-size-5" > {{ post.subtitle }} </h3>
            <div class="post-preview-content"> 
                {{ post.content | strip_html | truncate:300  }} 
            </div>
        </a>
    </div>

    <ul class="post-meta is-list-inline mb-1">
        <li class="date is-inline-block">
            <i class="fa-solid fa-calendar-days"></i>
            {{ post.date | date: '%B %-d, %Y' }} 
        </li>

        {% unless post.categories == empty %}
        <li class="is-inline-block">
            &nbsp; · &nbsp;
            <i class="fa-solid fa-tag"></i> 
            {% for category in post.categories %}  
            <a href="{{ '/categories/' | append : category | relative_url }}">
                {{ category }}
            </a>
            {% unless forloop.last %}<span>,</span>{% endunless %}
            {% endfor %}
        </li>
        {% endunless %}

        {% unless post.tags == empty %}
        <li class="is-inline-block">
            &nbsp; · &nbsp;
            <i class="fa-solid fa-hashtag"></i>
            {% for tag in post.tags %}  
            <a href="{{ '/tags/' | append : tag | relative_url }}">{{ tag }}</a>
                {% unless forloop.last %}<span>,</span>{% endunless %}
            {% endfor %}
        </li>
        {% endunless %}
    </ul>
</article>
<hr>
{% endfor %}

{% include pagination.html %}