---
layout: page
nav: false
---

<div class="container">
    <div class="wrapper">
        <section class="hero is-fullheight" id="header">
            <div class="hero-body px-0">
                <div>
                    <h1 class="hero-title my-5">
                        <span>Selamat datang</span>
                            <br>
                        di Blog
                    </h1>
                    <p class="hero-subtitle mb-5"> 
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae at
                        natus dicta tempora? Distinctio vero aut, eveniet perferendis
                        maiores corporis.
                    </p>
                    <p class="date">
                        Last updated: {{ "now" | date: '%B %d, %Y' }}. 
                    </p>
                    <a class="button my-3" href="{{ '/blog/' | relative_url }}"> Masuk ke Blog </a>
                </div>
            </div>
        </section>

        <div class="posts">
            <div class="title">
                Latest Article
            </div>
            {%- assign _sorted_list = site.posts -%}
            {%- assign _sorted_list = _sorted_list | sort: 'date' -%}
            {%- assign _sorted_list = _sorted_list | reverse -%}

            {% for post in _sorted_list limit: 5 %}
            <a class="post {% if forloop.last %} is-last {% endif %} is-flex is-justify-content-space-between" href="{{ post.url | prepend: site.baseurl }}">
                <h3> {{ post.title }}</h3>
                <span class="date has-text-grey is-hidden-mobile is-align-self-center"> {{ post.date | date: '%B %-d, %Y' }} </span>

            </a>

            {% endfor %}
        </div>
    </div>
</div>
