---
layout: page
nav: false
---

<div class="wrapper">
    <section id="intro">
        <div class="hero is-fullheight">
            <div class="hero-body px-0">
                <div class="container">
                    <div class="columns is-desktop">
                        <div class="column is-6-desktop">
                            <h1 class="hero-title my-5">
                                {{ site.home_title }}
                            </h1>
                            {% if site.description %}
                            <p class="hero-subtitle mb-5">
                                {{ site.description }}
                            </p>
                            {% endif %}
                            
                            {% if latest_update %}
                            <p class="date">
                                Last updated: {{ "now" | date: '%B %d, %Y' }}.
                            </p>
                            {% endif %}
                            <a class="button is-primary" role="button" href="{{ '/blog/' | relative_url }}"> 
                                Masuk ke Blog 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-img">
                <div class="image">
                    {% picture home-img.jpg %}
                </div>
            </div>
        </div>
    </section>

    <section id="latest-post" class="mt-5">
        <div class="container">
            <div class="columns is-desktop is-justify-content-space-between">
                <div class="column is-3-desktop is-align-self-center">
                    <div class="profile">
                        {% picture profile {{ site.profile_picture }} %}
                    </div>
                </div>
                <div class="column is-8-desktop">
                    <div class="posts">
                        <div class="title">
                            Latest Article
                        </div>
                        {%- assign _sorted_list = site.posts -%}
                        {%- assign _sorted_list = _sorted_list | sort: 'date' -%}
                        {%- assign _sorted_list = _sorted_list | reverse -%}
        
                        {% for post in _sorted_list limit: 5 %}
                        <a class="post {% if forloop.last %} is-last {% endif %} is-flex is-justify-content-space-between"
                            href="{{ post.url | prepend: site.baseurl }}">
                            <h3> {{ post.title }}</h3>
                            <span class="date has-text-grey is-hidden-mobile is-align-self-center"> {{ post.date | date: '%B %-d, %Y' }} </span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>