<div class="card {{ include.class }}">
    <div class="card-content">
        <div class="content">
            {% unless include.show_title %}
            <h4 class="title is-size-6 mb-3">ME</h4>
            {% endunless %}
            <div class="profile">
                <figure>
                    {% picture headshot {{ site.profile_picture }} %}
                    
                    {% if include.show_name %}
                    <figcaption>
                        {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
                    </figcaption>
                    {% endif %}
                </figure>
            </div>
            <p class="subtitle">
                Dunia ini memiliki aturan nya sendiri
            </p>
            <div class="icons">
                {% include sosial_icon.html %}
            </div>
        </div>
    </div>
</div>