{% if page.header-img %}
<style type="text/css">
  .intro-heading {
    background-image: url('{{ page.header-img | relative_url }}');
  }
</style>
{% endif %}

{% if page.layout == "post" %}
{% unless page.header-img %}
<header class="intro-heading post-heading style-text ">
{% else %}
<header class="intro-heading post-heading">
{% endunless %}
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="date">
        {{ page.date | date: '%B %-d, %Y' }}
      </div>
      <h1 class="title">
        {{ page.title }}
      </h1>
      {% if page.subtitle %}
      <h3 class="subtitle">
        {{ page.subtitle }}
      </h3>
      {% endif %}
      {% if page.tags %}
      <div class="tags">
        {% for tag in page.tags %}
        <a class="tag" href="{{ site.baseurl }}/tags/{{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
</header>
{% else %}
{% unless page.header-img %}
<div class="intro-heading style-text">
{% else %}
<div class="intro-heading ">
{% endunless %}
  <div class="hero">
    <div class="hero-body">
      <div class="title">
        {{ page.title }}
      </div>
      {% if page.subtitle %}
      <div class="subtitle">
        {{ page.subtitle }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}