{% if page.header-img %}
<style type="text/css">
    .intro-heading {
        background-image: url('{{ page.header-img | relative_url }}');
        background-color: lightgray;
    }
    
</style>
{% endif %}

{% if page.layout == "post" or include.type == "post" %}
{% unless page.header-img %}
<header class="intro-heading post-heading style-text">
{% else %}
<header class="intro-heading post-heading">
{% endunless %}
    <div class="container">
        <div class="hero is-medium">
            <div class="hero-body">
                <h1 class="title is-size-1-tablet is-size-2-mobile">
                    {{ page.title }}
                </h1>
                {% if page.subtitle %}
                <h3 class="subtitle is-size-3-tablet is-size-4-mobile">
                    {{ page.subtitle }}
                </h3>
                {% endif %}
                <div class="date">
                    {{ page.date | date: '%B %-d, %Y' }}
                </div>
                {% if page.tags %}
                <div class="tags mt-4">
                    {% for tag in page.tags %}
                    <a class="tag is-primary" href="{{ site.baseurl }}/tags/{{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</header>

{% else %}

{% unless page.header-img %}
<header class="intro-heading page-heading style-text">
{% else %}
<header class="intro-heading page-heading">
{% endunless %}
    <div class="hero">
        <div class="hero-body">
            
            {% if include.first == 'subtitle' %}
            <h3 class="subtitle is-size-4-tablet is-size-5-mobile mb-3">
                {% if include.subtitle  %} {{ include.subtitle }} {% else %} {{ page.subtitle }} {% endif %}
            </h3>
            {% endif %}

            <h2 class="title is-size-1-tablet is-size-2-mobile">
                {% if include.title  %} {{ include.title }} {% else %} {{ page.title }} {% endif %}
            </h2>

            {% unless include.first %}
            <h3 class="subtitle is-size-4-tablet is-size-5-mobile">
                {% if include.subtitle  %} {{ include.subtitle }} {% else %} {{ page.subtitle }} {% endif %}
            </h3>
            {% endunless %}

        </div>
    </div>
</header>

{% endif %}