
{% if page.layout == 'post' %}
<div class="nav-wrapper nav-custom {% if page.header-img %} invert {% endif %} ">
{% else %}
<div class="nav-wrapper" >
{% endif %}
    <div class="container is-hidden-mobile">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            Ahmad nur Blog
            <!-- <img src="https://bulma.io/images/bulma-logo.png"
            alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112"
            height="28"> -->
        </a>
    </div>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div id="nav_blog" class="navbar-menu is-active is-shadowless">
                <!-- left -->
                <div class="is-flex">
                    <!-- Home -->
                    <a class="navbar-item {% if page.title == p.title %} is-active {% endif %} is-hidden-tablet" 
                        href="{{ '/' | relative_url }}">
                        <span>Home</span>
                    </a>

                    <!-- Other -->
                    {% for p in site.pages %} {% if p.nav %}
                    <a class="navbar-item {% if page.title == p.title %} is-active {% endif %}" 
                        href="{{ p.url | relative_url }}">
                        <span>{{ p.title }}</span>
                    </a>
                    {% endif %} {% endfor %}
                </div>
                <div class="is-flex">
                    <!-- GitHub -->
                    <a class="navbar-item icon">
                        <i class="fa-brands fa-github pr-1"></i>
                        <span class="is-hidden-mobile">Github</span>
                    </a>
                    <!-- Search Icon -->
                    <a class="navbar-item icon">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>