{% if page.layout == 'post' %}
<div class="nav-wrapper">
    <nav class="navbar nav-custum {% if page.header-img %} invert {% endif %} is-spaced is-transparent" role="navigation" aria-label="main navigation">
{% else %}
<div class="nav-wrapper">
    <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
{% endif %}
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ site.baseurl }}/">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <!-- Search Icon -->
                <a class="icon search is-hidden-desktop">
                    <i class="fas fa-lg fa-fw fa-sharp fa-solid fa-magnifying-glass"></i>
                </a>
    
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="nav_blog">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
    
            <div id="nav_blog" class="navbar-menu">
                <div class="navbar-end">

                    <div class="navbar-brand is-hidden-desktop is-flex is-justify-content-space-between is-align-content-center">
                        <a class="navbar-item" href="{{ site.baseurl }}/">
                            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                        </a>

                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav_blog">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div class="navbar-item sosial">

                        {% if site.sosial.github %}
                        <a class="icon" href="https://github.com/{{ site.sosial.github }}" title="github"><i class="fas fa-lg fa-fw fa-brands fa-github"></i></a>
                        {% endif %}
                        {% if site.sosial.instagram %}
                        <a class="icon" href="https://www.instagram.com/{{ site.sosial.instagram }}/" title="Instagram"><i class="fas fa-lg fa-fw fa-brands fa-instagram"></i></a>
                        {% endif %}
                        {% if site.sosial.facebook %}
                        <!-- Facebook -->
                        <a class="icon" href="https://facebook.com/{{ site.facebook_id }}" title="Facebook">
                            <i class="fas fa-lg fa-fw fa-brands fa-facebook"></i>
                        </a>
                        {% endif %}

                        <!-- Search Icon -->
                        <a class="icon search is-hidden-touch">
                            <i class="fas fa-lg fa-sharp fa-solid fa-magnifying-glass"></i>
                        </a>

                    </div>
    
                    <!-- About -->
                    <a class="navbar-item {% if page.title == 'About' %} is-active {% endif %}"
                        href="{{ '/me/' | relative_url }}">
                        <span>About</span>
                    </a>
    
                    <!-- Blog -->
                    <a class="navbar-item {% if page.title == 'Blog' %} is-active {% endif %}"
                        href="{{ '/blog/' | relative_url }}">
                        <span>Blog</span>
                    </a>
    
                    <!-- Other -->
                    {% for p in site.pages %} {% if p.nav %}
                    <a class="navbar-item {% if page.title == p.title %} is-active {% endif %}"
                        href="{{ p.url | relative_url }}">
                        <span>{{ p.title }}</span>
                    </a>
                    {% endif %} {% endfor %}
    
                </div>
            </div>
        </div>
    </nav>
</div>