<div class="nav-wrapper">
    {% if page.layout == 'post' %}
    <nav class="navbar nav-custum {% if page.header-img %} invert {% endif %} is-spaced" role="navigation" aria-label="main navigation">
    {% else %}
    <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    {% endif %}
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ site.baseurl }}/">
                    <img src="{{ '/assets/img/mylogo.svg' | relative_url }}" alt="{{ site.name }}" width="52px" height="52px">
                    <span> Ahmaadnr </span>
                </a>

                <!-- Search Icon -->
                <a class="icon search-icon is-hidden-desktop" href="javascript:void(0)">
                    <i class="fas fa-fw fa-sharp fa-solid fa-magnifying-glass"></i>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="nav_blog">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="nav_blog" class="navbar-menu">
                <div class="navbar-brand is-hidden-desktop is-flex is-justify-content-space-between is-align-content-center">
                    <a class="navbar-item logo" href="{{ site.baseurl }}/">
                        <img src="{{ '/assets/img/mylogo.svg' | relative_url }}" alt="{{ site.name }}" width="52px" height="52px">
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav_blog">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-start">

                    <!-- About -->
                    <a class="navbar-item {% if page.title == 'About' %} is-active {% endif %}"
                        href="{{ '/me/' | relative_url }}">
                        <span>About</span>
                    </a>

                    <!-- Blog -->
                    <a class="navbar-item {% if page.title == 'Blog' %} is-active {% endif %}"
                        href="{{ '/blog/' | relative_url }}">
                        <span>Blog</span>
                    </a>

                    <!-- Other -->
                    {% for p in site.pages %} {% if p.nav %}
                    <a class="navbar-item {% if page.title == p.title %} is-active {% endif %}"
                        href="{{ p.url | relative_url }}">
                        <span>{{ p.title }}</span>
                    </a>
                    {% endif %} {% endfor %}

                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% include sosial_nav.html %}
                        <!-- Search Icon -->
                        <a class="icon search-icon is-hidden-touch" href="javascript:void(0)">
                            <i class="fas fa-sharp fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>