{% if page.header-img %}
<nav class="navbar nav-custum {% if page.header-img %} invert {% endif %} is-fixed-top" role="navigation" aria-label="main navigation">
{% else %}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
{% endif %}
    <div class="container">
        <div class="navbar-brand ml-0">
            <div class="navbar-item p-0">
                <a href="{{ site.baseurl }}/" class="is-flex is-align-items-center">
                    {% if site.icon %}
                    <img src="{{ site.icon | prepend: 'assets/img/' | relative_url }}" alt="{{ site.name }}" width="52px" height="52px">
                    {% endif %}
                    {% if site.title %}
                    <h1> {{ site.title }} </h1>
                    {% else %}
                    <h1>{{ site.first_name }} {{ site.middle_name }}</h1>
                    {% endif %}
                </a>
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav_blog">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="nav_blog">
            <div class="navbar-menu">
                <div class="navbar-brand is-justify-content-end is-hidden-desktop">
                    {% if site.icon %}
                    <div class="navbar-item p-0">
                        <a  href="{{ site.baseurl }}/" class="is-flex">
                            <img src="{{ site.icon | prepend: 'assets/img/' | relative_url }}" alt="{{ site.name }}" width="52px" height="52px">
                        </a>
                    </div>
                    {% endif %}

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="nav_blog">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-end">

                    <!-- About -->
                    <a class="navbar-item {% if page.title == 'About' %} is-active {% endif %}"
                        href="{{ '/me/' | relative_url }}">
                        <span>About</span>
                    </a>

                    <!-- Blog -->
                    <a class="navbar-item {% if page.title == 'Blog' %} is-active {% endif %}"
                        href="{{ '/blog/' | relative_url }}">
                        <span>Blog</span>
                    </a>

                    <!-- Other -->
                    {% for p in site.pages %} {% if p.nav %}
                    <a class="navbar-item {% if page.title == p.title %} is-active {% endif %}"
                        href="{{ p.url | relative_url }}">
                        <span>{{ p.title }}</span>
                    </a>
                    {% endif %} {% endfor %}

                    <!-- Github -->
                    {% if site.sosial.github %}
                    <a href="https://github.com/{{ site.sosial.github }}" class="navbar-item is-hidden-touch" target="_blank">
                        <span class="icon-text">
                            <span>Github</span>
                            <span class="icon">
                                <ion-icon name="logo-github" size="small"></ion-icon>
                            </span>
                        </span>
                    </a>
                    {% endif %}

                    <div class="navbar-item is-flex is-align-items-center is-justify-content-space-between py-0">
                        <!-- Sosial Icon -->
                        {% if site.sosial_navbar %}
                        <div class="icons is-gapless is-hidden-desktop p-0">
                            {% include sosial_icon.html size="small" %}
                        </div>
                        {% endif %}
                        <!-- Search Icon -->
                        <div class="icons is-gapless p-0 is-justify-content-end">
                            <button class="icon" id="theme-toggle">
                                <span class="icon">
                                    <ion-icon name="moon-outline" size="small"></ion-icon>
                                    <ion-icon name="sunny-outline" size="small"></ion-icon>
                                </span>
                            </button>
                            <a class="icon" href="{{ '/search/' | relative_url }}">
                                <ion-icon name="search-outline" size="small"></ion-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
