<div class="card {% if include.class %}{{ include.class }}{% endif %}">
    {% if project.image %}
    <div class="card-image is-3by2">
    {% picture thumbnail {{ project.image }} %}
    </div>
    {% endif %}
    <div class="card-content">
        <div class="content">
            <span class="year">
                {{ project.year }}
            </span>
            <h3 class="title is-size-4 mt-0 mb-3">
                {{ project.title }}
            </h3>
            <p class="description is-size-6 mt-0 mb-5">
                {{ project.description }}
            </p>
            {% if project.links %}
            <div class="buttons are-small mt-4">
            {% for link in project.links %}
                {% if link.name == "github" %}
                <a href="https://github.com/{{ link.url }}" target="_blank" class="button">
                    <span class="text-icon is-flex is-align-items-center">
                        <span>
                            {{ link.name | capitalize }}
                        </span>
                        <span class="icon is-small">
                            <ion-icon name="logo-github"></ion-icon>
                        </span>
                    </span>
                </a>
                {% elsif link.name == "article"  %}
                <a href="{{ '/blog/' | append: link.url | relative_url }}" class="button">
                    <span>
                        {{ link.name | capitalize }}
                    </span>
                </a>
                {% else %}
                <a href="{{ link.url }}" target="_blank" class="button">
                    <span class="text-icon is-flex is-align-items-center">
                        <span>
                            {{ link.name | capitalize }}
                        </span>
                        <span class="icon is-small">
                            <ion-icon name="open-outline"></ion-icon>
                        </span>
                    </span>
                </a>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
