<div class="card {% if include.class %}{{ include.class }}{% endif %}">
    {% if project.image %}
    <div class="card-image is-3by2">
    {% picture thumbnail {{ project.image }} %}
    </div>
    {% endif %}
    <div class="card-content">
        <div class="content">
            <span class="date">
                {{ project.date | date: '%b %-d, %Y' }} 
            </span>
            <h3 class="title is-size-4 mt-0" >
                {{ project.title }}
            </h3>
            <p class="subtitle is-size-6 mt-0">
                {{ project.subtitle }}
            </p>
            {% if project.links %}
            <div class="buttons are-small mt-4">
            {% for link in project.links %}
                {% if link.name == "github" %}
                <a href="https://github.com/{{ link.url }}" target="_blank" class="button">
                {% elsif link.name == "article"  %}
                <a href="{{ '/blog/' | append: link.url | relative_url }}" class="button">
                {% else %}
                <a href="{{ link.url }}" target="_blank" class="button">
                {% endif %}
                {{ link.name }}
                </a>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
