<div class="search-page">
    <div id="modal-js-search" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Search</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
                <input id="search-input" class="input is-primary" type="text" placeholder="$">
                
                <div id="search-results" class="mini-post-list"></div>

            </section>
            <footer class="modal-card-foot">
                <button class="button">Close</button>
            </footer>
        </div>
    </div>
</div>