{% if site.sosial.github %}
<a href="https://github.com/{{ site.sosial.github }}" title="{{ site.sosial.github }}" class="icon">
    <ion-icon name="logo-github" aria-label="{{ site.sosial.github }}" size="{{ include.size }}"></ion-icon>
</a>
{% endif %}

{% if site.sosial.instagram %}
<a href="https://www.instagram.com/{{ site.sosial.instagram }}/" title="Instagram" class="icon">
    <ion-icon name="logo-instagram" size="{{ include.size }}" ></ion-icon>
</a>
{% endif %}

{% if site.sosial.facebook %}
<a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook" class="icon">
    <ion-icon name="logo-facebook" size="{{ include.size }}"></ion-icon>
</a>
{% endif %}

