{% if site.sosial.github %}
<a href="https://github.com/{{ site.sosial.github }}" title="github" class="icon is-medium is-hoverable">
    <i class="fas fa-fw  fa-brands fa-github"></i>
</a>
{% endif %}

{% if site.sosial.instagram %}
<a href="https://www.instagram.com/{{ site.sosial.instagram }}/" title="Instagram" class="icon is-medium is-hoverable">
    <i class="fas fa-fw fa-fw fa-brands fa-instagram"></i>
</a>
{% endif %}

{% if site.sosial.facebook %}
<a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook" class="icon is-medium is-hoverable">
    <i class="fas fa-fw fa-brands fa-facebook-f"></i>
</a>
{% endif %}

