{% if site.sosial.github %}
<a href="https://github.com/{{ site.sosial.github }}" title="github">
    <span class="icon is-medium">
        <i class="fas fa-lg  fa-brands fa-github"></i>
    </span>
</a>
{% endif %}

{% if site.sosial.instagram %}
<a href="https://www.instagram.com/{{ site.sosial.instagram }}/" title="Instagram">
    <span class="icon is-medium">
        <i class="fas fa-lg fa-fw fa-brands fa-instagram"></i>
    </span>
</a>
{% endif %}

{% if site.sosial.facebook %}
<a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook">
    <span class="icon is-medium">
        <i class="fas fa-lg fa-brands fa-facebook-f"></i>
    </span>
</a>
{% endif %}

