html {
    position: relative;
    min-height: 100%;
}

a, h1, h2, h3, h4, h4, h5, h6, span, p {
    font-family: var(--font-family);
}

h1, h2, h3, h4, h4, h5, h6 {
    color: var(--grey-color-dark);
    font-weight: bold;
}

hr {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0
}

h2 {    
    font-family: var(--font-family);
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: -.05rem;
    padding-bottom: 0.4rem;
}

p {
    font-weight: 400;
    color: var(--grey-color-dark);
    font-size: 1rem;
    line-height: 1.7;
    font-family: var(--font-family);
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}



// .segment {
//     margin: 1.5rem 0;
// }

.title {
    color: var(--grey-900);
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0
}

.icon {
    height: auto;
    width: auto;
}

.date {
    color: var(--grey-900);
    font-family: var(--font-family);
    font-size: 14px;
    font-style: italic;
}


@media screen and (min-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    // .segment {
    //     margin: 2rem 0;
    // }

    .title {
        font-size: 1.7rem;
    }

    .date {
        font-size: 15px;
    }
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline .list-inline-item {
  display: inline-block;
}
.list-inline .list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
