::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
	border-radius: 2px;
	background-color: var(--scrollbar-track);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
	background-color: var(--scrollbar-color);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: var(--font-text-color);
    background-color: var(--bg-color);
	min-height: 100vh;
}

body.has-navbar-fixed-top {
    padding-top: 5.5rem;
}

body.has-navbar-fixed-top:has(.nav-custum.is-fixed-top) {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-heading-color);
}

hr {
    background-color: var(--divider-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 2rem;
    }
}

.title {
    color: var(--font-heading-color);
    font-weight: 700;
    line-height: 1.1;
    span {
        color: var(--theme-color);
    }
}

.title.is-size-1 {
    font-size: 4rem !important;
}

.subtitle {
    color: var(--font-text-color);
    span {
        color: var(--theme-color);
    }
}

.subtitle:not(:last-child) {
    margin-bottom: 8px;
}

.date, .year {
    font-family: $family-monospace;
    color: var(--font-date-color);
    font-size: .9rem;
    font-weight: 500;
    white-space: nowrap;
	display: block;
}

code.language-plaintext {
    font-family: $family-code;
	background-color: findLightColor($primary);
    color: var(--theme-color);
    padding: 3px 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
	&.is-success {
        color: var(--success);
		background-color: findLightColor($success);
    }
	&.is-warning {
        color: var(--warning);
		background-color: findLightColor($warning);
    }
	&.is-danger {
        color: var(--danger);
		background-color: findLightColor($danger);
    }
    &.is-info {
        color: var(--info);
		background-color: findLightColor($info);
    }
}

// Icons

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&.is-gapless > .icon {
		margin-right: 6px;
		margin-left: 6px;
	}

	> .icon {
		margin-right: 2px;
		margin-left: 2px;
	}
}

.icon {
	color: var(--icon-color);
	width: auto;
	ion-icon {
		font-size: 24px;
	}
	&.is-paddingless {
		padding: 0;
	}
}

.icons.are-small > .icon ion-icon,
.icon.is-small ion-icon {
	font-size: 16px !important;
}

.icons.are-medium > .icon ion-icon,
.icon.is-medium ion-icon {
	font-size: 32px !important;
}

.icons.are-large > .icon ion-icon,
.icon.is-large ion-icon {
	font-size: 48px !important;
}

a.icon {
	&:hover, &:focus {
		color: var(--hover-color);
	}
}

ul.task-list {
    list-style: none;
    list-style-type: none;
    margin-left: 1rem;

    .task-list-item {
        display: flex;
        align-items: center;

        .task-list-item-checkbox {
            margin-right: 4px;
        }
    }
}

sup {
    font-family: $family-monospace;
}

sup:has(.footnote) {
	scroll-margin-top: 5rem;
}

.footnotes p {
    font-size: 15px;
    margin-bottom: 3px;
}

.content {
	h1, h2, h3, h4, h5, h6, table tr th {
        color: var(--font-heading-color);
    }

	p {
        font-size: 1rem;
		color: var(--font-text-color);
    }

	a, p, div {
		color: var(--font-text-color);
	}

	em, strong {
		color: inherit;
	}
}

article.content {
    a {
        text-decoration: underline 2px solid var(--theme-color);
        &:hover {
            color: $white;
            background-color: var(--hover-color);
        }
    }

    blockquote {
        border-left: 4px solid var(--divider-color);
        background-color: transparent;
        font-size: 14px;
        font-style: italic;

        p {
            margin-bottom: 0;
        }
    }

    li > ul {
		margin-left: 1.2rem;
		margin-top: 0;
	}

	.tabs ul {
		margin-left: 0;
		a {
			text-decoration: none;
			border-bottom-style: solid;
		}
	}

	table, .table {
		th, td {
			border-color: var(--divider-color);
		}
		tbody tr:not(.is-selected):nth-child(even) {
			background-color: var(--bg-strip-table-color);
		}
	}

}

.footer {
	margin-top: 2rem;
	padding: 2rem;
    background-color: var(--bg-color);
	.content {
		color: var(--font-text-color-muted);
		a:hover {
			text-decoration: underline 2px solid var(--hover-color);
		}
	}
}

// Button

.button {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
	background-color: var(--bg-button);
	color: var(--font-text-color);
	border: 1px solid var(--divider-color);
    &:hover, &:focus {
        border-color: var(--theme-color);
		box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%) !important;
    }
	span {
		color: var(--font-text-color);
		font-weight: 700;
	}
}

.button:focus,
.button.is-active,
.button:active,
.button:hover {
	transition-duration: 0.3s;
}

.button.is-disabled,
.button:disabled {
	pointer-events: none !important;
	background-color: #dbdbdb;
	border-color: #dbdbdb;
	box-shadow: none;
	color: #7a7a7a;
	opacity: .5;
}

.btn-copy {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 8px;
	margin-right: 8px;
	height: auto;
	display: none;
	justify-content: center;
	padding: 6px;
	color: var(--icon-color);
	background-color: var(--bg-hover-color);
	border-color: var(--divider-color);
	box-shadow: none !important;
	z-index: 1;
	&:hover {
		display: flex;
	}
	&:has(ion-icon[name='copy-outline']) {
		border-color: var(--divider-color);
		color: var(--icon-color);
	}
	&:has(ion-icon[name='checkmark-done-outline']) {
		border-color: var(--success);
		color: var(--success);
	}
	&:has(ion-icon[name='close-outline']) {
		border-color: var(--danger);
		color: var(--danger);
	}

	.fa {
		font-size: 12px;
		color: inherit;
	}
}

// Tags

a.tag, .tag {
	font-weight: 500;
}

a.tag:hover {
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
}

.profile {
	z-index: 1;
	position: relative;
	width: auto;
	height: auto;
	align-items: center;

	picture {
		width: 100%;

		img {
			width: 80%;
		}
	}
	&.is-rounded {
		picture img {
			border-radius: 100%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.profile picture {
		width: 15rem;
		img {
			width: 100%;
		}
	}
}

.svg-pattern {
	z-index: -10;
	position: absolute;
}

.checker {
	fill: var(--theme-color);
}

#theme-toggle {
    background-color: transparent;
    border: none;
	&:hover .icon {
		color: var(--hover-color);
	}
}

.card {
    background-color: var(--bg-card-color);
	margin-bottom: .8rem;
	&.categories a {
		font-weight: 500;
		padding: .1rem .4rem;
		&:hover {
			text-decoration: underline 2px solid var(--hover-color);
		}
		&.is-active {
			color: var(--theme-color);
		}
	}
	&.tags {
		.tag {
			background-color: var(--tag-color);
		}
		.tag.is-active {
			background-color: var(--hover-color);
			color: $white;
		}
	}
	&.me {
		.icon {
			font-size: 1.2rem;
		}
		figure figcaption {
			font-weight: 500;
			color: var(--font-text-color);
			font-style: normal;
		}
		.subtitle {
			color: var(--font-text-color-muted);
		}
	}

	.description {
		line-height: 1.1;
		color: var(--font-text-color-muted);
	}
}

input, .input {
    color: var(--font-text-color);
    background-color: var(--bg-color) !important;
	box-shadow: none !important;
	border-bottom: 2px solid var(--hover-color);
	border-radius: 6px;
    &::placeholder {
        color: var(--font-text-color-muted);
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: 1px solid var(--divider-color);
        -webkit-text-fill-color: var(--font-text-color);
        -webkit-box-shadow: 0 0 0px 30px var(--bg-color) inset;
        transition: background-color 5000s ease-in-out 0s;
		border-color: var(--hover-color);
		border-bottom: 2px solid var(--hover-color);
    }
}

.control.has-icons-left .icon {
    color: var(--font-text-color-muted);
}

.control.has-icons-left .input:focus~.icon {
    color: var(--font-heading-color);
}


// -----------
// Navbar
// -----------

.navbar {
	background-color: var(--bg-navbar-color);
	transition: 0.4s padding ease-in-out;
	padding: 20px 0;
	overflow: hidden;
	&.has-shadow {
		box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 8%);
	}
	&.in {
		padding: 6px 0;
	}

	.icons .icon {
		color: var(--icon-color);
		&:hover {
			color: var(--hover-color);
		}
	}
}

a.navbar-item {
	color: var(--font-text-color);
	font-size: 1rem;
	font-weight: 600;
	transition: 0.3s all ease;
	text-decoration: none;
	border-radius: 5px;
	&:hover, &:focus {
		background-color: var(--bg-hover-color);
		color: inherit;
	}
	&.is-active:not(:hover) {
		background-color: transparent;
	}
	&.is-active span {
		color: var(--theme-color) !important;
	}
}

.navbar-burger {
	color: var(--font-text-color);
	&:hover span {
		color: var(--hover-color);
	}
}

.navbar-brand {
	padding: 0;

	h1 {
		color: var(--font-heading-color);
		font-weight: 700;
		font-size: 28px;
	}

	img {
		padding: 0;
		max-height: 100%;
		margin-right: 6px;
		border-radius: 8px;
	}
}

#nav_blog {
	display: flex;
	padding: 8px 12px;
	flex-grow: 1;
}

@media screen and (max-width: 1024px) {
	.navbar-brand .navbar-item {
		margin-right: auto;
	}

	.navbar-burger:hover {
		background-color: transparent;
	}

	#nav_blog {
		position: fixed;
		z-index: 40;
		top: 0;
		left: 0;
		right: 0;
		padding: 0;
		opacity: 0;
		transition: 0.3s all ease-in-out;
		&.in {
			opacity: 1;
			transition: 0.3s ease-in-out;
		}

		.navbar-menu {
			background-color: var(--bg-tablet-navbar-color);
			border-radius: 6px;
			margin: 6px 12px 0 12px;
			text-align: right;
			width: 100%;
		}

		.navbar-brand img {
			margin-left: 8px;
		}

		a.navbar-item, .navbar-burger {
			span {
				color: var(--font-text-color);
			}
		}

		.navbar-burger:hover span {
			color: var(--hover-color);
		}
	}
}

// -----------
// Nav Custum
// -----------
// .in digunakan untuk bila scrol kebawah
// hapus '.in' jika ingin menerapkan style tanpa
// dipengaruhi oleh scrool

.nav-custum:not(.in) {
	background-color: transparent;

	.navbar-burger span {
		color: $white;
	}
	.navbar-burger:hover span {
		color: var(--hover-color);
	}
}

@media screen and (min-width: 1024px) {
	.nav-custum:not(.in) {

		.navbar-brand h1 {
			color: $white;
		}

		a.navbar-item span {
			color: $white;
		}

		a.navbar-item:hover span {
			color: inherit;
			.icon {
				color: inherit;
			}
		}

		.icon {
			color: $white;
			&:hover {
				color: var(--hover-color);
			}
		}
	}
}

// -----------
// Intro-Heading 
// -----------
.intro-heading {
	position: relative;
	background: no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	margin-bottom: 2rem;

	.hero .hero-body {
		padding-left: 0;
		padding-right: 0;
	}
}

.intro-heading:not(.style-text) {
	.title, .subtitle, .date , .tag {
		color: $white;
	}
}

@media screen and (max-width: 768px) {
	.intro-heading .hero .hero-body {
		padding-top: 1.5rem;
		padding-bottom: 1rem;
	}
}

.page-heading:not(.style-text) {
	.hero .hero-body {
		padding: 10rem 108px;
	}
}

.post-heading {
	margin-bottom: 3rem;
	&.style-text .hero .hero-body {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 1024px) {
	.post-heading .hero .hero-body {
		padding-left: 0;
	}
}

@media screen and (max-width: 768px) {
	.page-heading:not(.style-text), .post-heading {
		.hero .hero-body {
			padding: 6rem 0 4rem 0;
		}
	}
	.page-heading .style-text .hero .hero-body {
		padding: 2.5rem 0 3.5rem 0;
	}
}

.page-heading {
	&:not(.style-text) {
		text-align: center;
	}
}

// -----------
// Catalog
// -----------

.catalog {
	padding: 0px;
	margin-top: 0 !important;

	nav.sticky-top {
		position: -webkit-sticky;
		position: sticky !important;
		top: 4.5rem;
	}
}

.side-catalog {
	display: block;
	overflow: auto;
	height: 100%;
	width: auto;

	a {
		color: var(--font-text-color-muted);
		text-decoration: none;
		&:hover {
			color: var(--hover-color);
		}
	}

	.title a:before {
		content: "−";
		position: relative;
		margin-right: 5px;
		bottom: 1px;
	}

	.catalog-body {
		position: relative;
		list-style: none;
		height: auto;
		overflow: hidden;
		padding-left: 0px;
		padding-right: 5px;
		text-indent: 0;

		li {
			position: relative;
			list-style: none;

			a {
				padding-left: 10px;
				max-width: 185px;
				display: inline-block;
				vertical-align: middle;
				height: 30px;
				line-height: 30px;
				overflow: hidden;
				text-decoration: none;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.h1_nav, .h2_nav {
			margin-left: 0;
			font-size: 13px;
			font-weight: bold;
		}

		.h3_nav {
			margin-left: 6px;
			font-size: 13px;
			font-weight: bold;
		}

		.h4_nav {
			margin-left: 12px;
			font-size: 12px;
			a {
				max-width: 170px;
			}
		}

		.h5_nav, .h6_nav {
			margin-left: 18px;
			font-size: 12px;

			a {
				max-width: 170px;
			}
		}

		.is-active a {
			text-decoration: underline 2px solid var(--hover-color) !important;
			color: var(--hover-color) !important;
		}
	}
}

.side-catalog.fold {
	.title a:before {
		content: "+";
	}

	.catalog-body {
		display: none;
	}
}

// -----------
// latest-posts
// -----------

#latest_posts ul {
	counter-reset: my-counter-reset;
	list-style: none;

	.post {
		counter-increment: my-counter-reset;
		display: flex;
		justify-content: start;
		width: 100%;
	}

	.post:last-child {
		border: none;
	}

	.post:before {
		align-self: center;
		content: "0" counter(my-counter-reset);
		font-size: 2.1rem;
		line-height: 1;
		margin-right: 12px;
		font-weight: bold;
	}

}

// -----------
// Post List
// -----------

.posts-list {
	border-block: 1px solid var(--divider-color);
	position: relative;
	
	.post {
		padding: 2.5rem 0px;
		border-block: 1px solid var(--divider-color);
	}
}

.post-preview a {
	text-decoration: none;
	&:hover {
		.title, .subtitle {
			color: var(--hover-color);
		}
	}
}

.post-preview-content {
	color: var(--font-text-color-muted);
	font-style: italic;
	font-weight: 400;
	margin-bottom: 4px;
	padding: 1rem 0px;
	&:hover {
		color: var(--hover-color);
	}

}

.post-meta {
	color: var(--font-text-color-muted);

	.icon {
		color: var(--font-text-color-muted);
		text-decoration: none;
	}

	.date {
		color: inherit;
	}

	a {
		padding: 0;
		font-weight: 400;
		margin-left: 6px;
		font-size: 1rem;
		text-decoration: none;
		color: var(--font-text-color-muted);
		&:hover span {
			color: var(--hover-color);
		}

		span {
			color: var(--font-text-color-muted);
			text-decoration: underline 1px solid var(--divider-color);
		}
	}
}

.mini-post-list {
	.post {
		padding: 12px 0;
		border-bottom: 1px solid var(--divider-color);
		width: 100%;
	}

	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		&:hover {
			.title {
				text-decoration: underline 2px solid var(--hover-color);
			}
		}
	}
}

// -----------
// pagination
// -----------

.pagination {
	font-size: 14px;
	margin-top: 2rem;

	.is-disabled {
		pointer-events: none !important;
		box-shadow: none;
		color: var(--font-text-color-muted);
		opacity: .5;
		background-color: var(--bg-color);
	}
	.pagination-previous {
		padding-left: 8px;
	}
	.pagination-next {
		padding-right: 8px;
	}
	.pagination-link {
		border-radius: 5px;
		&.is-current {
			color: $white;
		}
	}

	.pagination-previous, .pagination-next, .pagination-link {
		color: var(--font-text-color);
		&:hover {
			box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
		}
	}
}

// -----------
// Tabs
// -----------
.tabs, .tabs.is-boxed {
	position: relative;
	background-color: var(--bg-color);

	ul {
		margin-left: 0;
		border-bottom-color: var(--divider-color);

		li.is-active a {
			color: var(--theme-color);
			background-color: var(--bg-color) !important;
			border-color: var(--divider-color);
		}
	}

	a {
		font-weight: 500;
		color: var(--font-text-color);
		border-bottom-color: var(--divider-color) !important;
		&:hover {
			background-color: var(--bg-hover-color) !important;
			color: inherit;
		}
	}
}

.tabs-content {
	position: relative;

	ul {
		margin: 0;
		list-style: none;
		display: inline;

		li {
			display: none;
			&.is-active {
				display: initial;
			}

		}
	}
}

// -----------
// message
// -----------
.message {
	.message-header {
		background-color: $gray-65;	
		.icon, span {
			color: $white;
		}
	}

	.message-body {
		color: var(--font-text-color);
		a {
			text-decoration: underline 2px solid var(--divider-color) !important;
			&:hover {
				color: $white !important;
				background-color: var(--theme-color);
				text-decoration: none !important;
			}
		}
	}

	&.is-success {
		.message-header {
			background-color: var(--success);
		}
		.message-body {
			color: var(--success);
			a {
				text-decoration-color: var(--success) !important;
			}
		}
	}

	&.is-warning {
		.message-header {
			background-color: var(--warning);
		}
		.message-body {
			color: var(--warning);
			a {
				text-decoration-color: var(--warning) !important;
			}
		}
	}

	&.is-danger {
		.message-header {
			background-color: var(--danger);
		}
		.message-body {
			color: var(--danger);
			a {
				text-decoration-color: var(--danger) !important;
			}
		}
	}
}

.code-title {
	display: flex;
	text-align: center;
	font-size: 1rem;
	line-height: 24px;
	width: 100%;
	justify-content: center;
	padding: .4rem 1rem .8rem;
	border: 1px solid var(--divider-color);
	margin-bottom: -1.9rem;
	background-color: $gray-0;
	position: relative;
	font-weight: 500;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

#about {
	.profile img {
		width: auto;
	}
}

@media screen and (max-width: 1024px) {
	#about {
		.columns {
			flex-direction: column;
		}
		
		.main {
			order: 2;
		}

		.sidebar {
			order: 1;
		}

		.card {
			height: auto;
			text-align: center;
			background-color: transparent;

			.title {
				display: none;
			}
		}
	}
}