html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--global-bg-color);
}

a, h1, h2, h3, h4, h4, h5, h6, span, p {
    font-family: var(--font-family);
}

h1, h2, h3, h4, h4, h5, h6 {
    color: var(--grey-color-dark);
    font-weight: bold;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0
}

h2 {    
    font-family: var(--font-family);
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: -.05rem;
    padding-bottom: 0.4rem;
}

p {
    font-weight: 400;
    color: var(--grey-color-dark);
    font-size: 1rem;
    line-height: 1.7;
    font-family: var(--font-family);
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}


code {
    font-family: SFMono-Regular, Menlo, Monaco,Consolas, "Liberation Mono", "Courier New",monospace;;
    color: var(--blue-color);
    padding: 3px 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    &.is-info {
        color: hsl(204, 86%, 53%);
    }
    &.is-danger {
        color: hsl(348, 100%, 61%);
    }
    &.is-warning {
        color: hsl(48, 100%, 67%);
    }
    &.is-success {
        color: hsl(141, 71%, 48%);
    }
}

// .main {
//     margin-top: 1.5rem;
// }


// @media screen and (min-width: 768px)  {
//     .main {
//         margin-top: 2rem;
//     }
    
// }

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}



.title {
    color: var(--grey-900);
    font-family: var(--font-family);
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0
}

.icon {
    height: auto;
    width: auto;
}

.date {
    color: var(--grey-900);
    font-family: var(--font-family);
    font-size: 14px;
    font-style: italic;
}


@media screen and (min-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    // .segment {
    //     margin: 2rem 0;
    // }

    .title {
        font-size: 2rem;
    }

    .date {
        font-size: 15px;
    }
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline .list-inline-item {
  display: inline-block;
}
.list-inline .list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}


// ---------
// Content
// ---------
.content li > ul {
    margin-top: 0;
}

.content p {
    font-size: 1rem;
}

.content a {
    color: inherit;
    border-bottom: 1px dotted var(--grey-2);
}

ul.task-list {
    list-style: none;
    list-style-type: none;
    margin-left: 1rem;
    .task-list-item {
       display: flex;
       align-items: center;

       .task-list-item-checkbox {
        margin-right: 4px;
       }

   }
}

// -----------
// Footnotes
// -----------
.footnotes {
    ol {
        color: inherit;
    }
    p {
        color: inherit;
        // font-weight: 500;
        font-size: 15px;
        margin-bottom: 3px;
    }
}

@media screen and (min-width: 768px) {
    .footnotes p {
        font-size: 1rem;
    }

}

// -----------
// blockquote
// -----------
.content blockquote {
    border-left: 5px solid var(--blue-color);
    // margin: 1.5em 10px;
    // padding: 0.5em 10px;
    font-size: 14px;
    font-style: italic;
    // padding: 8px;
    p {
        margin-bottom: 0;
    }
}

// ---------
// Footer
// ---------
.footer {
	padding: 3rem 1.5rem;
}