// -----------
// Navbar
// -----------

.navbar {
	font-family: "Epilogue", sans-serif;
	color: var(--global-navbar-color);
	transition: 0.3s ease;
	padding: 6px 0;
	overflow: hidden;

	.navbar-brand {
		.navbar-item {
			padding: 0;
		}

		img {
			padding: 0;
			max-height: 100%;
			margin-right: 6px;
		}

		span {
			color: var(--global-text-color);
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 1.5;
			text-size-adjust: 100%;
			word-break: break-word;
			vertical-align: -4px;
		}
	}

	.navbar-item {
		padding: 8px 12px;
		color: var(--global-text-color);
		font-size: 1rem;
		font-weight: 500;
		transition: 0.3s ease;

		span {
			position: relative;
			top: 2px;
		}
	}

	.icons {
		display: flex;
	}

	.icon {
		color: var(--global-icon-color);
		padding: 5px;
		transition: 0.3 ease;

		&:hover {
			color: var(--global-hover-color);
		}
	}
}

#nav_blog {
	display: flex;
	padding: 8px 12px;
	flex-grow: 1;

	a.navbar-item:hover {
		background-color: var(--global-navbar-hover-color);
		border-radius: 5px;
		color: var(--global-text-color);
	}

	a.navbar-item.is-active {
		color: var(--global-theme-color);
	}
}

@media screen and (max-width: 1024px) {
	.navbar .navbar-brand .navbar-item {
		margin-right: auto;
	}

	.navbar .navbar-brand .navbar-burger {
		margin-left: 0;

		&:hover {
			background-color: transparent;
		}
	}

	#nav_blog {
		position: fixed;
		z-index: 40;
		top: 0;
		left: 0;
		right: 0;
		padding: 0;

		// Animation
		opacity: 0;
		transform-origin: top;
		transition: all 0.3s cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
		-webkit-transform-origin: top;
		-webkit-transition: all .3s cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;

		.navbar-menu {
			border-radius: 6px;
			text-align: right;
			margin: 0 12px;
			width: 100%;
			margin: 6px 12px 0 12px;
		}

		.navbar-brand {
			justify-content: end;

			.navbar-item {
				padding-left: 12px;
			}

			img {
				margin: 0;
			}
		}
	}

	// Animation
	#nav_blog.in {
		opacity: 1;
		transition: all .3s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		-webkit-transition: all .3s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	}

	.navbar-item.icons {
		justify-content: end;
	}
}

// Nav Custum

.nav-custum {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: transparent;
}


.nav-custum.invert>.container>.navbar-brand {
	.navbar-item img {
		background-color: $white;
		border-radius: 8px;
	}

	span,
	.icon {
		color: $white;
	}
}

.nav-custum.invert .icon:hover {
	color: var(--global-hover-color) !important;
}

@media screen and (min-width: 1024px) {

	.nav-custum.invert .icon,
	.nav-custum.invert .navbar-item {
		color: $white;
	}
}

// -----------
// Intro heading
// ----------- 

.intro-heading {
	background: no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	margin-bottom: 0;

	.hero-body {
		padding: 6rem 1.5rem;
		text-align: left;
		margin-top: 3rem;
		color: var(--global-text-color);

		.date,
		.post-title,
		.post-subtitle {
			color: inherit;
		}

		.post-title {
			font-size: 2.4rem;
		}

		h3 {
			font-size: 1rem;
			font-weight: 500;
		}
	}

	.button {
		background-color: transparent;
		border-color: inherit;
		color: inherit;
		border-radius: 999em !important;
		-webkit-border-radius: 999em !important;
		-moz-border-radius: 999em !important;
		-ms-border-radius: 999em !important;
		-o-border-radius: 999em !important;
	}
}

.intro-heading.invert {
	.hero-body {
		margin: 0;
		color: $white;
	}
}

@media screen and (min-width: 768px) {
	.intro-heading {
		.hero-body {
			text-align: center;

			.post-title {
				font-size: 3.4rem;
			}

			h3 {
				font-size: 20px;
			}
		}

		.buttons {
			justify-content: center;
		}
	}
}

// ----------
// Arctivle
// ----------
article {
	.columns {
		margin-top: 1.3rem;
	}

	.buttons {
		a {
			font-family: $family-monospace;
		}
	}

	nav.sticky-top {
		position: -webkit-sticky;
		position: sticky !important;
		top: 0;
	}
}

article.media {
	box-sizing: inherit;
	margin-bottom: 10px;
}


/* ----------- */
// Side Bar 
/* Catalog */
/* ----------- */
@media screen and (min-width: 1200px) {
	.post-container {
		padding-right: 5%;
	}

	.sidebar-container {
		padding-right: 5%;
	}
}

@media screen and (min-width: 768px) {
	.post-container {
		padding-right: 5%;
	}
}

.sidebar-container {
	color: $gray-6;
	font-size: 14px;

	h4 {
		padding-bottom: 1em;

		a {
			color: inherit;
			text-decoration: none;
			letter-spacing: .5px;
			font-size: 1rem;
		}
	}

	a {
		color: $gray-6 !important;

		&:hover {
			color: var(--global-hover-color) !important;
		}

		&:active {
			color: var(--global-hover-color) !important;
		}
	}
}

.catalog-container {
	padding: 0px;
}

.side-catalog {
	display: block;
	overflow: auto;
	height: 100%;
	padding-bottom: 35px;
	padding-top: 20px;
	width: 195px;

	.catalog-toggle {
		&::before {
			content: "−";
			position: relative;
			margin-right: 5px;
			bottom: 1px;
		}
	}

	.catalog-body {
		position: relative;
		list-style: none;
		height: auto;
		overflow: hidden;
		padding-left: 0px;
		padding-right: 5px;
		text-indent: 0;

		li {
			position: relative;
			list-style: none;

			a {
				padding-left: 10px;
				max-width: 180px;
				display: inline-block;
				vertical-align: middle;
				height: 30px;
				line-height: 30px;
				overflow: hidden;
				text-decoration: none;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.h1_nav {
			margin-left: 0;
			font-size: 13px;
			font-weight: bold;
		}

		.h2_nav {
			margin-left: 0;
			font-size: 13px;
			font-weight: bold;
		}

		.h3_nav {
			margin-left: 6px;
			font-size: 13px;
			font-weight: bold;
		}

		.h4_nav {
			margin-left: 12px;
			font-size: 12px;

			a {
				max-width: 170px;
			}
		}

		.h5_nav {
			.h6_nav {
				margin-left: 18px;
				font-size: 12px;

				a {
					max-width: 170px;
				}
			}
		}

		.active {
			border-radius: 4px;
			background-color: $gray-1;

			a {
				color: var(--global-hover-color) !important;
			}
		}
	}
}

.side-catalog.fold {
	.catalog-toggle {
		&::before {
			content: "+";
		}
	}

	.catalog-body {
		display: none;
	}
}

// -----------
// widget
// -----------

.widget {
	margin-bottom: 1rem;
	border: 1px solid var(--grey-2);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;

	.container {
		padding: 1.2rem;
	}

	.title {
		font-size: 1.2rem;
		margin-bottom: 1rem;
		font-weight: 500;
	}

	.category {
		a {
			border-bottom: 1px dotted $gray-3;

			.name {
				color: var(--global-text-color);
				font-size: 1.1rem;
				font-weight: 500;
				line-height: 2;
			}

			&:hover,
			&.is-active {
				.name {
					color: var(--global-hover-color);
				}
			}
		}

	}

	.tags {
		.tag {
			line-height: 2;
			font-size: .8rem;
			font-weight: normal;

			&:hover,
			&.is-active {
				background-color: var(--global-hover-color);
				text-decoration: none;
				color: $white;
			}
		}
	}

}



/* ============== */
/* Post */
/* ============== */

.posts {
	display: grid;
	text-align: center;

	.title {
		text-align: left;
	}

	.post {
		border-bottom: 1px solid $gray-4;
		padding: 0.4rem 0;

		h3 {
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.3;
			color: var(--global-text-color);
		}

		span {
			white-space: pre;
			margin-left: auto;
			padding-left: 10px;
		}

		&:hover h3 {
			color: var(--global-hover-color);
		}
	}

	.date {
		font-family: $family-monospace;
		font-size: .75rem;
		letter-spacing: 0.5px;
	}
}

a.post-title {
	color: var(--global-text-color);

	&:hover {
		color: var(--global-hover-color);
	}
}

.post-meta li {
	margin-right: 10px;
	font-size: 90%;
}

.post-meta a {
	color: $gray-6;
	border-bottom: 1px dotted $gray-2;
}

.post-meta a:hover {
	color: var(--global-hover-color);
}

a.is-last {
	border: none !important;
}

.post-preview {
	font-size: 15px;
	font-style: italic;
	color: $gray-6;
}

// ---------
// Archives
// ---------
div.header {
	margin: 2rem 0;
}

@media screen and (min-width: 768px) {
	div.header {
		margin-top: 0;
	}
}

h2.year {
	font-size: 2rem;
	border-bottom: 0;
}

@media screen and (min-width: 768px) {
	h2.year {
		font-size: 2.3rem;
	}
}

.subtitle {
	color: var(--global-text-color);
	font-weight: 500;
	font-size: 1.1rem;
}

.subtitle .highlight {
	color: var(--global-text-color);
}

// ------------
// Pagination
// ------------

.hide {
	display: none;
	visibility: hidden;
	height: 0;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	padding: 4px 15px;
	border: 1px solid var(--grey-2);
	border-radius: 5px;
	flex-wrap: wrap;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	ul {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			margin-right: 0;
		}
	}

}

.pagination-number {
	--size: 32px;
	--margin: 6px;
	margin: 0 var(--margin);
	max-width: auto;
	min-width: var(--size);
	height: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;

	&.is-current,
	&:hover,
	&:focus {
		background-color: var(--global-hover-color);
		color: $white;
	}

	&.arrow.is-disabled {
		pointer-events: none !important;
		background-color: #dbdbdb;
		border-color: #dbdbdb;
		box-shadow: none;
		color: #7a7a7a;
		opacity: .5;
	}
}



.message-header>p {
	margin-bottom: 0 !important;
	color: inherit;
}

.message-body a {
	text-decoration: none;
}

// ------------------
// Search 
// ------------------

.search-page {
	.modal-card {
		height: 100%;
	}
}

// --------
// Index
// --------
#intro {
	position: relative;
	// text-align: center;
	min-height: 80vh;

	.hero-body {
		display: block;
	}

	.hero-title {
		font-size: 2.5rem;

		span {
			color: var(--global-theme-color);
		}
	}

	.hero-subtitle {
		font-size: 1rem;
		margin-bottom: 10px !important;
	}

	.intro-img {
		position: relative;
		width: 100%;
		height: 16rem;

		.image {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			overflow: hidden;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				top: 0;
				left: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	#intro {
		.hero-title {
			font-size: 4rem;
		}

		.hero-subtitle {
			font-size: 20px;
		}

		.intro-img {
			height: 24rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	#intro {

		// text-align: left;
		.hero-subtitle {
			max-width: 500px;
		}

		.intro-img {
			width: 50%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;

			.image {
				border-bottom-left-radius: 9999px;
				border-top-left-radius: 9999px;
			}
		}
	}
}

.button {
	background-color: $gray-0;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	vertical-align: middle;
}

.button:focus,
.button.is-active,
.button:active,
.button:hover {
	background-color: #F3F4F6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.button.is-disabled,
.button:disabled {
	pointer-events: none !important;
	background-color: #dbdbdb;
	border-color: #dbdbdb;
	box-shadow: none;
	color: #7a7a7a;
	opacity: .5;
}

.button:focus {
	box-shadow: none !important;
	border-color: $black;
}


// Code Tabs
.code-tab-container {
	list-style: none;
	list-style-type: none;
	margin: 0;
	margin-bottom: 0 !important;
	li {
		margin: 0 !important;
	}
}

.tab {
    font-family: $family-sans-serif;
    color: #2c2c2c;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
    border: 1px solid #e8eaed;
    padding: 0;
    list-style-type: none !important;
    margin-left: 0 !important;
    margin-right: 0;
    margin-bottom: -1.9rem !important;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	position: relative;
	> * {
		flex: none;
		padding-left: 20px;
		position: relative;
		> a {
			display: block;
			text-align: center;
			padding: 9px 20px;
			color: #999;
			border-bottom: 2px solid transparent !important;
			border-bottom-color: transparent;
			font-size: 12px;
			text-transform: uppercase;
			transition: color .1s ease-in-out;
			line-height: 20px;
		}
	}
	>.active {
		> a {
			color: #222;
			border-color: #1e87f0 !important;
		}
	}
	li {
        margin: 0 !important;
		a {
			text-decoration: none;
			cursor: pointer;
		}
	}
}
.tab-content {
    list-style: none;
    list-style-type: none;
    margin: 1.5rem 0 !important;
	padding: 0;
	li { 
		margin-left: 0;
        display: none;
        margin: 0;
        &.active { 
            display: initial;
        }
    }
}
