// -----------
// Navbar
// -----------

.navbar {
	color: var(--global-navbar-color);
	transition: 0.3s ease;
	padding: 20px 0;
	overflow: hidden;

	.navbar-brand {
		a.navbar-item {
			font-family: $font-navbar;
			padding: 0;
			span {
				position: relative;
				top: 2px;
				font-weight: 700;
				font-size: 1.5rem;
			}
		}

		img {
			padding: 0;
			max-height: 100%;
			margin-right: 6px;
			border-radius: 8px;
		}
	}

	.navbar-item {
		padding: 8px 12px;
		color: var(--global-text-color);
		font-size: 1rem;
		font-weight: 500;
		transition: 0.3s ease;
		text-decoration: none;
	}

	.icons {
		padding: 8px 12px;
		justify-content: flex-end;
	}

	.icon.js-modal-trigger:hover {
		color: var(--global-hover-color) !important;
	}
}

.navbar.in {
	padding: 6px 0;
}

#nav_blog {
	display: flex;
	padding: 8px 12px;
	flex-grow: 1;

	a.navbar-item:hover:not(:has(img)) {
		background-color: var(--global-bg-hover-color);
		border-radius: 5px;
		color: var(--global-text-color);
	}

	a.navbar-item.is-active {
		color: var(--global-theme-color) !important;
	}
} 

@media screen and (max-width: 1024px) {
	.navbar .navbar-brand .navbar-item:not(:has(.icon)) {
		margin-right: auto;
	}

	.navbar .navbar-brand .navbar-burger {
		margin-left: 0;

		&:hover {
			background-color: transparent;
		}
	}

	#nav_blog {
		position: fixed;
		z-index: 40;
		top: 0;
		left: 0;
		right: 0;
		padding: 0;

		// Animation
		opacity: 0;
		transform-origin: top;
		transition: all 0.3s cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
		-webkit-transform-origin: top;
		-webkit-transition: all .3s cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;

		.navbar-menu {
			border-radius: 6px;
			text-align: right;
			margin: 0 12px;
			width: 100%;
			margin: 6px 12px 0 12px;
		}

		.navbar-brand img {
			margin-left: 8px;
		}
	}

	// Animation
	#nav_blog.in {
		opacity: 1;
		transition: all .3s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
		-webkit-transition: all .3s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	}
}

// -----------
// Nav Custum
// -----------
// .in digunakan untuk bila scrol kebawah
// hapus '.in' jika ingin menerapkan style tanpa
// dipengaruhi oleh scrool

.nav-custum:not(.in) {
	background-color: transparent;

	&.invert {
		.container > .navbar-brand > .navbar-burger span,
		.navbar-item .icon,
		.navbar-brand a.navbar-item span {
			color: $white;
		}
	}
	@media screen and (min-width: 1024px) {
		&.invert .navbar-item:not(:hover) {
			color: $white;
		}	
	}
}

// Menghapus Jarak antara body
// hapus ini bila nav-custum tidak transparant
.has-navbar-fixed-top:has(.nav-custum.is-fixed-top) {
	padding: 0;
}

// -----------
// Intro-Heading 
// -----------
.intro-heading {
	position: relative;
	background: no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	margin-bottom: 1rem;
}

.intro-heading:not(.style-text) {
	.title, .subtitle, .date , .tag {
		color: $white;
	}
}

.post-heading {
	.tag {
		background-color: transparent;
		text-decoration: none;
	}
	.hero .hero-body {
		padding: 9rem 108px;
	}

	&.style-text .hero .hero-body {
		padding-top: 8rem;
		padding-bottom: 4rem;
	}
}

@media screen and (max-width: 1024px) {
	.post-heading {
		.hero .hero-body {
			padding-left: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.post-heading {
		.hero .hero-body {
			padding: 6rem 0 6rem 0;
		}

		&.style-text .hero .hero-body {
			padding: 6rem 0 3.5rem 0;
		}
	}
}

// -----------
// Sidebar
// -----------

.sidebar .card {
	// border: 1px solid var(--global-divider-color);
	background-color: var(--global-bg-color);
	margin-bottom: .8rem;

	a {
		padding: .1rem .4rem;
		text-decoration: none;
		font-weight: 500;
	}

	p {
		color: var(--global-text-color-muted);
	}

	img {
		border-radius: 5px;
		width: 65%;
	}

	.icons a {
		padding: 0;
	}
}

.catalog {
	padding: 0px;

	nav.sticky-top {
		position: -webkit-sticky;
		position: sticky !important;
		top: 4.5rem;
	}
}

.side-catalog {
	display: block;
	overflow: auto;
	height: 100%;
	width: 200px;
	font-family: $family-sans-serif;

	a {
		color: var(--global-text-color-muted);
		&:hover {
			color: var(--global-hover-color);
		}
	}

	.title a:before {
		content: "−";
		position: relative;
		margin-right: 5px;
		bottom: 1px;
	}

	.catalog-body {
		position: relative;
		list-style: none;
		height: auto;
		overflow: hidden;
		padding-left: 0px;
		padding-right: 5px;
		text-indent: 0;

		li {
			position: relative;
			list-style: none;

			a {
				padding-left: 10px;
				max-width: 185px;
				display: inline-block;
				vertical-align: middle;
				height: 30px;
				line-height: 30px;
				overflow: hidden;
				text-decoration: none;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.h1_nav, .h2_nav {
			margin-left: 0;
			font-size: 13px;
			font-weight: bold;
		}

		.h3_nav {
			margin-left: 6px;
			font-size: 13px;
			font-weight: bold;
		}

		.h4_nav {
			margin-left: 12px;
			font-size: 12px;
			a {
				max-width: 170px;
			}
		}

		.h5_nav, .h6_nav {
			margin-left: 18px;
			font-size: 12px;

			a {
				max-width: 170px;
			}
		}

		.is-active {
			border-radius: 4px;
			background-color: var(--global-bg-hover-color);
			a {
				color: var(--global-hover-color) !important;
			}
		}
	}
}

.side-catalog.fold {
	.title a:before {
		content: "+";
	}

	.catalog-body {
		display: none;
	}
}

// -----------
// latest-posts
// -----------

#latest_posts ul {
	counter-reset: my-counter-reset;
	list-style: none;

	.post {
		counter-increment: my-counter-reset;
		display: flex;
		justify-content: start;
		width: 100%;
	}

	.post:last-child {
		border: none;
	}

	.post:before {
		align-self: center;
		content: "0" counter(my-counter-reset);
		font-size: 2rem;
		line-height: 1;
		margin-right: 12px;
	}

}

// -----------
// Post List
// -----------

.post-preview a {
	text-decoration: none;
	&:hover {
		.title, .subtitle {
			color: var(--global-hover-color);
		}
	}
}

.post-preview-content {
	color: var(--global-text-color-muted);
	font-style: italic;
	font-weight: 400;
	margin-bottom: 4px;

	&:hover {
		color: var(--global-hover-color);
	}

}

.post-meta {
	color: var(--global-text-color-muted);
	
	.icon {
		color: var(--global-text-color-muted);
	}

	.date {
		font-size: 1rem;
		font-weight: 400;
		color: inherit;
	}
}

.post-meta a {
	padding: 0;
	font-weight: 400;
	margin-left: 6px;
	font-size: 1rem;
	text-decoration: none;

	span:not(.icon) {
		text-decoration: underline 1px dotted var(--global-divider-color);
	}
}

.mini-post-list {
	.post {
		padding: 12px 0;
		border-bottom: 1px solid var(--global-divider-color);
		width: 100%;
	}
	a {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		&:hover {
			.title, .subtitle {
				color: var(--global-hover-color);
			}
		}
	}
}



// -----------
// pagination
// -----------

.pagination {
	font-size: 14px;
}

.pagination .is-disabled {
	pointer-events: none !important;
	box-shadow: none;
	color: var(--global-text-color-muted);
	opacity: .5;
}

.pagination .pagination-previous {
	padding-left: 8px;
	
}
.pagination .pagination-next {
	padding-right: 8px;
}

.pagination .pagination-link {
	border-radius: 5px;
}

// -----------
// Archive
// -----------
@media screen and (min-width: 1024px) {
	article > .container > .columns {
		margin-left: 6rem;
	}
}

article > .container > .columns {
	margin-top: 2rem;
}

article .content {
	li > ul {
		margin-left: 1.2rem;
		margin-top: 0;
	}

	.message-header p {
		margin-bottom: 0;
	}

	.tabs ul {
		margin-left: 0;
		a {
			text-decoration: none;
			border-bottom-style: solid;
		}
	}

	table, .table  {
		tbody tr:not(.is-selected):nth-child(even) {
			background-color: var(--global-color-table);
		}
	}
}

// -----------
// Code Tabs
// -----------
.code-tabs {
	position: relative;
	background-color: var(--global-bg-color);
	ul {
		margin-left: 0;
	}
	a {
		font-weight: 500;
	}
}

.code-tabs:has(~ .tabs-content ul li.is-active pre) {
	margin-bottom: 0 !important;
	ul {
		border: none;
	}	
}

.tabs-content {
	position: relative;
	.btn-copy {
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 8px;
		margin-right: 8px;
		height: auto;
		display: none;
		justify-content: center;
		padding: 8px;
	}

	.btn-copy:hover,
	.btn-copy:has(~ ul li:hover.is-active pre) {
		display: flex;
	}
}

.tabs-content ul {
	margin: 0;
	list-style: none;
	display: inline;

	li {
		display: none;
		&.is-active {
			display: initial;
		}

	}
	li.is-active:first-child pre {
		border-top-left-radius: 0;
	}
	li.is-active:last-child pre {
		border-top-right-radius: 0;
	}
}
