:root {
    --global-divider-color: #{$gray-2};
    --global-text-color: #{$gray-7};
    --global-text-color-muted: #{$gray-5};
    --global-date-color: #{$gray-6};
    --global-theme-color: #{$blue};
    --global-navbar-color: #{$white};
    --global-hover-color: #{$blue};
    --global-bg-hover-color: #{$gray-0};
    --global-bg-color: #{$white};
    --global-icon-color:#{$gray-7};
    --global-code-background-color: #{$gray-1};
}