$d-primary: findDarkColor($primary);
$d-success: findDarkColor($success);
$d-warning: findDarkColor($warning);
$d-danger: findDarkColor($danger);
$d-info: findDarkColor($info);

:root {
    --theme-color: #{$primary};

    --bg-color: #{$gray-0};
    --bg-navbar-color: #{$gray-0};
    --bg-hover-color: #{$gray-1};
    --bg-code-color: #{$white};
    --bg-strip-table-color: #{$gray-1};
    --bg-card-color: #{$white};
    --bg-tablet-navbar-color: #{$gray-0};
    --bg-message-color: #{$white};
    --bg-button : #{$gray-0};

    --font-heading-color: #{$gray-8};
    --font-text-color: #{$gray-7};
    --font-text-color-muted: #{$gray-5};
    --font-date-color: #{$gray-5};

    --hover-color: #{$primary};
    --icon-color: #{$gray-7};
    --divider-color: #{$gray-2};
    --tag-color: #{$gray-0};

    --primary: #{$primary};
    --success: #{$success};
    --warning: #{$warning};
    --danger: #{$danger};

    --scrollbar-color: #{$gray-4};
    --scrollbar-track: #{$gray-3};

        display: none;
    }

    .fa-sun {
        display: block;
    }

    .navbar-item img {
        background-color: $gray-0;
    }
}

html[data-theme='dark'] {
    --theme-color: #{$d-primary};

    --bg-color: #{$gray-10};
    --bg-navbar-color: #{$gray-10};
    --bg-hover-color: #{$gray-9};
    --bg-code-color: #131313;
    --bg-strip-table-color: #{$gray-9};
    --bg-card-color: #{$gray-9};
    --bg-tablet-navbar-color: #{$gray-8};
    --bg-message-color: #{$gray-9};
    --bg-button : #{$gray-9};

    --font-heading-color: #{$white};
    --font-text-color: #{$gray-2};
    --font-text-color-muted: #{$gray-3};
    --font-date-color: #{$gray-3};

    --hover-color: #{$d-primary};
    --icon-color: #{$gray-1};
    --divider-color: #{$gray-7};
    --tag-color: #{$gray-8};

    --primary: #{$d-primary};
    --success: #{$d-success};
    --warning: #{$warning};
    --danger: #{$d-danger};
    --info: #{$d-info};

    --scrollbar-color: #{$gray-65};
    --scrollbar-track: #{$gray-7};

        display: block;
    }

    .fa-sun {
        display: none;
    }

    .navbar-item img {
        background-color: $gray-9;
    }

    .message {
        background-color: $gray-9;
    }

    code.language-plaintext {
        background-color: var(--bg-code-color) !important;
    }

    .code-title {
        background-color: #161616;
    }
}
