:root {
    --theme-color: #{$blue};

    --bg-color: #{$white};
    --bg-navbar-color: #{$white};
    --bg-hover-color: #{$gray-0};
    --bg-code-color: #{$gray-0};
    --bg-strip-table-color: #{$gray-1};

    --font-heading-color: #{$gray-7};
    --font-text-color: #{$gray-7};
    --font-text-color-muted: #{$gray-5};
    --font-date-color: #{$gray-5};
    
    --hover-color: #{$blue};
    --icon-color: #{$gray-7};
    --divider-color: #{$gray-4};
}