$white-color:  #ffffff !default;
$gray-0:       #f9f9f9 !default;
$gray-1:       #eee !default;
$gray-2:       #e6e6e6 !default;
$gray-3:       #ddd !default;
$gray-4:       #bbb !default;
$gray-5:       #999 !default;
$gray-6:       #666 !default;
$gray-65:      #555 !default;
$gray-7:       #212529 !default;
$gray-8:       #252525 !default;
$gray-9:       #1f1f1f !default;
$gray-10:      #181818 !default;
$green-dark:   #009f06 !default;
$green:        #00ab37 !default;
$green-1:      #95cd7f !default;
$green-2:      #73b18a !default;
$green-3:      #4d8994 !default;
$green-4:      #30619d !default;
$green-5:      #30379d !default;
$red:          #FF3636 !default;
$red-1:        #fdd94a !default;
$red-2:        #e0a944 !default;
$red-3:        #d37d36 !default;
$red-4:        #cd583c !default;
$red-5:        #ab2e3f !default;
$red-6:        #B71C1C !default;
$blue:         #0076df !default;
$blue-1:       #70bdee !default;
$blue-2:       #618be1 !default;
$blue-3:       #5b5ed5 !default;
$blue-4:       #623ac6 !default;
$blue-5:       #58119f !default;
$orange:       #F29105 !default;
$yellow:       #efcc00 !default;
$pink:         #f57ad0 !default;
$purple:       #673ece !default;
$cyan:         #2698BA !default;
