:root {
  --content-width: 1152px;


  /* Font */
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-monospace: 'Menlo Regular', "IBM Plex Mono", 'Menlo Regular', monospace;

  /* Color */
  --red-color:           #FF3636;
  --red-color-dark:      #B71C1C;
  --orange-color:        #F29105;
  --blue-color:          #0076df;
  --blue-color-dark:     #00369f;
  --cyan-color:          #2698BA;
  --light-cyan-color:    lighten(--cyan-color, 25%);
  --green-color:         #00ab37;
  --green-color-lime:    #B7D12A;
  --green-color-dark:    #009f06;
  --green-color-light:   #ddffdd;
  --green-color-bright:  #11D68B;
  --purple-color:        #B509AC;
  --light-purple-color:  lighten(--purple-color, 25%);
  --pink-color:          #f92080;
  --pink-color-light:    #ffdddd;
  --yellow-color:        #efcc00;

  --grey-color:          #404040;
  --grey-color-light:    #a3a3a3;
  --grey-color-dark:     #1C1C1D;
  --grey-900:            #212529;

  --white-color:         #ffffff;
  --black-color:         #000000;

  --code-bg-color-light: rgba(--blue-color, 0.05);
  --code-bg-color-dark:  #2c3237;


}

/* ============== */
/* Font */
/* ============== */

@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('/assets/fonts/Menlo-Regular.woff') format('woff');
}




/* ============== */
/* Main */
/* ============== */

html {
  /* position: relative; */
  min-height: 100%;
}


a, h1, h2, h3, h4, h4, h5, h6, span, p {
  font-family: var(--font-family);
  color: var(--grey-color-dark);
}

h1, h2, h3, h4, h4, h5, h6 {
  font-weight: bold;
}

hr {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0
}

h2 {
  border-bottom: 1px solid var(--grey-color-light);
  font-family: var(--font-family);
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -.05rem;
  padding-bottom: 0.4rem;
}

/*  */



/*  */

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  max-width: var(--content-width) !important;
}

.segment {
  margin: 1.5rem 0;
}

.title {
  color: var(--grey-900);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0
}


@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .container {
    padding: 0 2rem;
  }

  .segment {
    margin: 2rem 0;
  }

  .title {
    font-size: 1.7rem;
  }
}




/* ============== */
/* Navbar */
/* ============== */

.nav-wrapper {
  border-bottom: 1px dotted var(--grey-color);
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    margin: 0;
    padding: 3rem 0;
    border-bottom: none;
  }
}

.navbar .navbar-menu {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navbar .navbar-menu {
    display: flex;
    justify-content: start;
  }
}

.navbar-menu .navbar-item span {
  font-size: 15px;
  padding-bottom: 2px;
  font-weight: 400;
}

.navbar-menu .navbar-item,
.navbar-menu .navbar-item:focus,
.navbar-menu .navbar-item:hover,
.navbar-menu .navbar-item:active,
.navbar-menu .navbar-item.is-active,
.navbar-menu .navbar-item.is-active span {
  background-color: transparent;
}

.navbar-menu .navbar-item:hover span,
.navbar-menu .navbar-item.is-active span {
  border-bottom: 1px dashed var(--blue-color);
  margin-bottom: -1px;
}

@media screen and (min-width: 768px) {
  .navbar .navbar-menu {
    padding: 0;
    border-bottom: none;
  }
  .navbar-menu .navbar-item span {
    font-size: 16px;
  }
}

/* haha */

div.header {
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  div.header {
    margin-top: 0; 
  }
}

h2.year {
  font-size: 2rem;
  border-bottom: 0;
}

@media screen and (min-width: 768px) {
  h2.year {
    font-size: 2.3rem;
  }
}

.header .subtitle {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 1.1rem;
}
.header .subtitle .highlight {
  color: var(--green-color-bright);
}

/* ============== */
/* Post */
/* ============== */

.posts {
  display: grid;
}

a.post {
  border-bottom: 1px solid var(--grey-color-light);
  padding: 0.4rem 0;
}

a.post.last-post {
  border: none;
}

a.post h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  a.post h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

a.post:hover h3 {
  border-bottom: 1px dashed var(--blue-color);
  margin-bottom: -1px;
}

a.post .date {
  font-family: var(--font-family-monospace);
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  display: none;
}

@media screen and (min-width: 768px) {
  a.post .date {
    display: block;
  }
}

.category .name {
  font-weight: 0.9rem;
  font-weight: 600;
}


/* ============== */
/* footer */
/* ============== */

.footer {
  padding: 3rem 1.5rem;
}

/* ============== */
/* Code Block */
/* ============== */

/* .code_switcher_theme_button {
  display: none;
} */

/* ============== */
/* Tag CLoud */
/* ============== */

.tag-list {
  margin-bottom: 1rem;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
}
.tag-list .container {
  padding: 1rem;
}

.tag-list .tag-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}