{% if page.layout == "post" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
<script>  
  function uuidv4() {
    return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
      (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
    );
  }

  function changeIcon(e, icon){
    $(e).children().attr("name", icon);
    setTimeout(function () {
      $(e).children().attr("name", "copy-outline");
    }, 1000);
  }


  var codeBlocks = $("article.content .highlight:has(> pre)");
  codeBlocks.each(function () {
    var idCode = "code-" + uuidv4();
    var code = $(this).find("pre:not(:has(table)) code, td.code pre")[0];
    if (code) { code.id = idCode }

    $(this).prepend(
      $("<button/>", {
        class: "button btn-copy",
        "data-clipboard-action": "copy",
        "data-clipboard-target": "#" + idCode
      }).append($("<ion-icon></ion-icon>", {name: "copy-outline"}))
    );
  });

  var clipboard = new ClipboardJS('.btn-copy');
  clipboard.on('success', function (e) {
    changeIcon($(e.trigger), "checkmark-done-outline")
  });

  clipboard.on('error', function (e) {
    changeIcon($(e.trigger), "close-outline")
  });
</script>
{% endif %}