{% if page.layout == "post" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.btn-copy');

  clipboard.on('success', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
  //   console.info('Trigger:', e.trigger);
  });

  clipboard.on('error', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
  //   console.info('Trigger:', e.trigger);
  });
</script>
{% endif %}