---
layout: page
---
<div class="container" id="about">
    {% include intro-heading.html %}

    <div class="columns is-desktop is-multiline mt-3 is-flex">
        <div class="column is-8-desktop main">
            <article class="content">
                {{ content }}
            </article>
        </div>
        <div class="column is-4-desktop sidebar mt-0">
            <div class="container">
                {% capture card-content %}
                <div class="profile is-flex-touch is-justify-content-center"> 
                    <figure>
                        {% if page.profile_picture %}
                        {% picture headshot {{ page.profile_picture }} %}
                        {% else %}
                        {% picture headshot {{ site.profile_picture }} %}
                        {% endif %}
                        
                        {% if page.show_name %}
                        <figcaption>
                            {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
                        </figcaption>
                        {% endif %}
                    </figure>
                </div>
                <p class="subtitle">
                    {{ page.short_text }}
                </p>
                {% endcapture %}
                {% include card.html class="me" title="ME" content=card-content %}
            </div>
        </div>
    </div>
</div>