---
layout: page
---

<div class="container">
    <div class="columns is-desktop is-multiline mt-3">
        <div class="column is-8-desktop postlist main">
            {{ content }}
        </div>
        <div class="column is-4-desktop sidebar">
            <div class="container ">
                {% if site.categories %}
                {% capture cap_category %}
                {% for category in site.categories %}
                <a class="category is-flex is-justify-content-space-between is-align-items-center {% if page.type == 'category' and page.title == category[0] %} is-active {% endif %}"
                    href="{{ '/categories/' | append: category[0] | relative_url }}">
                    {{ category[0] }}
                    <sup>{{ category[1].size }}</sup>
                </a>
                {% endfor %}
                {% endcapture %}
                {% include card.html class="categories" title="CATEGORIES" content=cap_category %}
                {% endif %}

                {% if site.tags %}
                {% capture cap_tags %}
                <div class="tags">
                    {% for tag in site.tags %}
                    <a class="tag {% if page.type == 'tag' and page.title == tag[0] %}is-active{% endif %}"
                    href="{{ '/tags/' | append: tag[0] | relative_url }}">
                    {{ tag[0] }}
                </a>
                {% endfor %}
                </div>
                {% endcapture %}
                {% include card.html class="tags" title="TAGS" content=cap_tags %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
