<!DOCTYPE html>
<html lang="{{ site.lang }}">

	<!-- Head -->
	<head>
		{% include head.html %}
	</head>

	<!-- Body -->
	<body class="has-navbar-fixed-top">

		{% include navbar.html %}

		<!-- Content -->
		{{ content }}

		{% unless page.title == "404" %}
		<!-- Footer -->
		{% include footer.html %}
		{% endunless %}

		<!-- JavaScripts -->
		{% include scripts/jquery.html %}
		{% include scripts/misc.html %}
		{% include scripts/clipboard.html %}
		{% include scripts/catalog.html %}
		{% include scripts/tabs.html %}
		{% include scripts/search.html %}
	</body>
</html>
