---
layout : default
---

{% include post-heading.html %}

<article>
    <div class="container">
        <div class="wrapper">
            <div class="columns is-desktop">
                <div class="column is-one-fifth-desktop">
                    {% include media-object.html %}
                    <div class="tags">
                    </div>
                </div>
                <div class="column content">
                    <div class="columns my-0">
                        <div class="column post-container py-0">
                            {{ content }}                            
                        </div>

                        <div class="column is-one-fifth is-hidden-mobile sidebar-container catalog-container py-0">
                            {% if page.catalog %}
                            <nav class="sticky-top">
                                <div class="side-catalog">
                                    <h4>
                                        <a class="catalog-toggle" href="#">CATALOG</a>
                                    </h4>
                                    <ul class="catalog-body"></ul>
                                </div>
                            </nav>
                            {% endif %}
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>