---
layout : default
---

{% include intro-heading.html %}

<article>
    <div class="container">
        <div class="columns">
            <div class="column pt-0 is-9-desktop is-9-tablet content post">
                {{ content }}
            </div>
            <div class="column is-3-desktop is-3-tablet is-hidden-mobile sidebar catalog">
                <nav class="sticky-top">
                    <div class="side-catalog">
                        <h4 class="title is-size-6 mb-4">
                            <a href="#" class="catalog-toggle">CATALOG</a>
                        </h4>
                        <ul class="catalog-body"></ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</article>